.page{
    height: 220vh;
    background-color: rgb(19, 19, 19);

}


.content{
    height: 100vh;
    /* width: 100vw; */
    padding-top: 4%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0)),url('./../../assets/84248.png');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

}
.section{
  
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;
    
}

.boxLeft{
    width: 50%;
   color: white;
/* background-color: palevioletred; */
   height: 100%;
 
}
.boxLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.boxRigth{
    width: 35%;
    padding-top: 10%;
    height: 100%;
    
}
.imageR{
    background-image: url('../../assets/o.png');
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
 
 background-size: cover;
}
.cardBox{
    margin: auto;
   
}



.cardButtons{
 

    text-align: center;
}

.btn{
    background-color: rgba(198, 198, 198, 0.782);
    
}
.title{
    width: 100%;
    color:white;
    text-align: center;
    height: 10vh;
    margin-top: 4%;
}
.imageCard{
    height: 40vh;
    background-image: url('../../assets/landingW.jpeg');
    background-color: paleturquoise;
    background-size: cover;
    border-radius: 5px 5px 0 0;
}

.imageCard2{
    height: 40vh;
    background-image: url('../../assets/landingD.jpeg');
    background-color: paleturquoise;
    background-size: cover;
    border-radius: 5px 5px 0 0;
}

.projectCard{
    background-color: rgba(128, 128, 128, 0.542);
    width: 48%;
    border-radius: 5px;
}

.bodyCard{
 width: 100%;
 padding: 2%;
 color: white;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    
    bottom: 0;
    width: 100%;
  }
  
  .footerContent {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .footer p {
    margin: 0;
  }
  
  .socialIcons {
    margin-top: 10px;
  }
  
  .socialIcons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
  }
  
  .socialIcons a:hover {
    color: #ccc;
  }
  
  p ul li{
    list-style-type: none;
    width: 70px;
  }
  